<!DOCTYPE html>
<html lang="fr-fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Flux Monitoring | Création de lieux</title>
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/font-awesome/5.11.2/css/fontawesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/general.css}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!-- Side navigation -->
<div th:include="navbar.html" id="navigation" class="sidenav"></div>

<!-- Page content -->
<div class="main">
    <div>
        <div class="row justify-content-center">
            <div class="col-6">
                <h1>Panneau d'administration Flux Monitoring</h1>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-2">
                <h2>Bonjour, <strong th:text='${user.firstName}'></strong> </h2>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h2>Création d'un lieu</h2>
            </div>
        </div>
    </div>
    <div>
        <div class="row justify-content-start">
            <div class="col-md-12">
                <h3>Ajouter un lieu</h3>
            </div>
        </div>
        <form class="row justify-content-start" th:action="@{/places/create}" method="post">
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Nom du lieu" id="place">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Ajouter le lieu</button>
            </div>
        </form>
    </div>
    <div>
        <div class="row justify-content-start">
            <div class="col-md-12">
                <h3>Ajouter une position</h3>
            </div>
        </div>
        <table border="1" style="width:300px">
            <tr th:each="point : ${points}">
                <td th:text="${point.latitude}"></td>
                <td th:text="${point.longitude}"></td>
            </tr>
            <tr>
                <form class="row justify-content-start" th:action="@{/places/point/add}" method="post">
                    <td><input class="form-control"
                               type="number"
                               th:value="${newPoint.latitude}" id="newPointLatitude" name="newPointLatitude" min="0" /></td>
                    <td><input class="form-control"
                               type="number"
                               th:value="${newPoint.longitude}" id="newPointLongitude" name="newPointLongitude" min="0" /></td>
                    <td><button type="submit">Ajouter</button></td>
                </form>
            </tr>
        </table>
    </div>
    <div>
        <div class="row justify-content-start">
            <div class="col-md-12">
                <h3>Nombre de places totales</h3>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-md-12">
                <input class="form-control" type="number" id="nbPlaces" name="nbPlaces"
                       min="0">
            </div>
        </div>
    </div>
    <div>
        <div class="row justify-content-start">
            <div class="col-md-12">
                <a th:href="@{/places/save}"><button type="button" class="btn btn-success">Sauvegarder</button></a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>